@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,700&display=swap');

@import 'normalize';
@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    font-family: 'Pacifico', 'Raleway', sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.3;
    color: #262626;
    margin: 0;
    padding: 0;
    position: relative;
}

a, button {
    transition: all .25s ease-in;
    cursor: pointer;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
     position: relative;
    &__flex {
        display: flex;
    }
}

// section {
   
//     width: 100vw;
// }

//  Header 

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.nav {
    display: -ms-flexbox;
    display:flex;
    -ms-flex-item-align: center;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 3rem 1.5rem 0;
    z-index: 2;
    &__logo {
         @include font(5rem, $text-color, 400, $text-logo, 1.3);
     }
    &__menu {
       margin: auto 0;
        &__item {
            display: inline-block;
            list-style: none;
            margin-left: 4rem;
        }
        &__link {
            @include font(1.6rem, $text-color, 700, $text-ff, $lh: 1.5);
            text-transform: uppercase;
            display: block;
            margin-top: 1rem;
            padding-top: 0.8rem;
            border-top: 2px solid transparent;
            &:hover,
            &:focus,
            &:active {
            border-top: 2px solid #ff6033;
            color: #ff6033;
            @include hover;                      
            }
        }
    }
}

.menu-burger {
    display: none;
}

.nav__menu {
    display: block;
}


.section__start-screen {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #efe8e7;
  }

.start-screen__content {
    width: 45%;
    margin: 36rem 1.5rem 15rem;
    text-align: left;
}

.start-screen {
    &__title {
        @include font(6rem, $text-color, 700, $text-ff, 1.3);
        margin: 0;
    }
    &__subtitle {
        @include p-dark;
        margin: 0;
        margin: 3.5rem 0;
    }
    &__btn {
        @include btn-big;
        background-color: #ff6033;
        padding: 2rem;
        &:hover,
        &:focus,
        &:active {
            color: #ff6033;
         background-color: #fff;
         border: $b-size solid #ff6033;
        }
    }
}

.scroll {
    position: absolute;
    left: 49%;
    top: 90%;
    width: 2.4rem;
    height: 4rem;
    z-index: 13;
    opacity: .4;
    &:hover,
    &:focus,
    &:active {
        position: absolute;
        left: 49%;
        width: 24px;
        height: 40px;
        z-index: 13;
        opacity: .8;
    }
}

  .scroll:hover svg {
    transform: scale(1.2);
  }
  
// About


.section__about {
    background-color: #00b4b4;
  }

  .wrap { 
    width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    padding: 7rem 1.5rem;
    &__img {
        display: inline-block;
        width: 45%;
        left: 0;
        height: auto;
        position: relative;
        border-radius: 50%;
        height: 55rem;
    }
    &__pic {
        @include pCenter;
        // min-width: 100%;
        max-width: 100%;
        height: auto;
        min-width: 100%;
    }
    &__content {
        display: inline-block;
        margin-left: 9%;
        width: 45%;
        text-align: left;
        &__title {
        @include title-light;
        margin: 0;
        margin-bottom: 3rem;
        }
        &__subtitle {
        @include p-light;
        margin: 0;
        margin-bottom: 2rem;
        &--margin {
            margin-bottom: 13rem;
        }
        }
    }
}



// Services
.section {
    &__services {
    background: #70bfff;
    &__title {
        @include title-light;
        max-height: 36rem;
        overflow: hidden;
        margin-left: 2rem;
        margin-right: 1rem;
    }
}
}

.section__services .container {
    background-position: right;
    background-size: auto;
    background-repeat: no-repeat;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    -ms-flex-item-align: center;
    align-items: center;
}

.list {
    padding: 18rem 11rem 15rem;
    width: 50%;
        &__item {
            width: 40.3rem;
        background: $title-color;
        margin-bottom: 2rem;
        list-style: none;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, .5);
    }
    &__link {
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -ms-flex-item-align: center;
        align-items: center;
        text-align: center;
        @include font(2rem, $text-color, 700, $text-ff, 1.3);
        padding: 2.1rem 2.3rem 2.1rem 0;
        border: $b-size solid transparent;
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 75%;
            width: .2rem;
            height: 100%;
            background: rgba(0, 0, 0, .2);
        }
        &:hover,
        &:focus,
        &:active {
            background: rgba(0, 0, 0, .5);
            color: $title-color;
            border: $b-size solid $title-color;
            @include hover;
            opacity: .6;
        }
        &:hover svg,
        &:focus svg,
        &:active svg {
           fill: white;
           transform: scale(1.2);
        } 
        &:hover path,
        &:focus path,
        &:active path {
            fill: white;
        }
        span {
            display: block;
            margin: 0 auto;
            padding-right: 2.3rem;
        }
    }
}

.list__link:hover::after {
        background: $title-color;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 75%;
        width: .2rem;
        height: 100%;
    }


// Gallery

.gallery {
    width: 100%;
    background: #ffe92f;
    text-align: center;
    &__title {
        @include title-dark;
        margin: 0;
        padding: 10rem 5rem 3rem;
    }
    &__subtitle {
        @include p-dark;
        margin: 0 auto;
        padding: 0 1.5rem;
    }
    &__btn {
        display: inline-block;
         @include btn-big;
         background: #5585a2;
         padding: 2rem 4rem;
         margin: 0 auto 11.5rem;
         &:hover,
         &:focus,
         &:active {
             background: $title-color;
             color: #5585a2;
             font-weight: 600;
             border: $b-size solid #5585a2;
             @include hover;
         }
     }
}

.images {
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 1fr 3rem 1fr 3rem 1fr 3rem 1fr 3rem 1fr 3rem 1fr;
    grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: 1fr 3rem 1fr 3rem 1fr 3rem 1fr 3rem 1fr 3rem 1fr 3rem 1fr 3rem;
    grid-template-rows: repeat(7, 1fr);
    gap: 2.5%;
    margin: 4.5rem 1.5rem;
    height: 97rem;
    &__item {
        -ms-grid-row: 1;
        -ms-grid-row-span: 4;
        grid-row: span 4;
        &--2w {
            -ms-grid-column: 1;
            -ms-grid-column-span: 7;
            grid-column: span 7;
        }
        &--4h {
            -ms-grid-row: 1;
            -ms-grid-row-span: 7;
            grid-row: span 7;
        }
        &--1w {
            -ms-grid-column: 9;
            -ms-grid-column-span: 3;
            grid-column: span 3;
        }
        &--2h {
            -ms-grid-row: 1;
            -ms-grid-row-span: 3;
            grid-row: span 3;
            &-2h {
                -ms-grid-row: 5;
                -ms-grid-row-span: 3;
                grid-row: span 3;
            }
        }
        &--3w {
            -ms-grid-column-span: 5;
            grid-column: span 5;
        }
        &--3h {
            -ms-grid-row: 9;
            -ms-grid-row-span: 5;
            grid-row: span 5;
        }
        &--last {
            -ms-grid-column: 7;
            -ms-grid-column-span: 6;
            grid-column: span 6; 
            -ms-grid-rows: 9;
            -ms-grid-row-span: 5;
            grid-row: span 5;
            
        }
    }
}



@supports (display: grid) {
    .images {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(7, 1fr);
        gap: 2.5%;
        margin: 4.5rem 1.5rem;
        height: 97rem;
        &__item {
            grid-row: span 2;
           &--2w {
                grid-column: span 4;
           }
           &--4h {
                grid-row: span 4;
           }
           &--1w {
                grid-column: span 2;
            }
            &--2h {
                grid-row: span 2;
            }
            &--3w {
                grid-column: span 3;
            }
            &--3h {
                 grid-row: span 3;
            }
        }
    }
}


.image {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    height:100%;
    overflow: hidden;
    &__pic {
         @include pCenter;
         min-width: 100%;
         min-height: 100%;
         height: auto;
    }
}
// Subscribe
 
.section {
   &__subscribe {
       background-size: cover;
     background-position: right;
     background-repeat: no-repeat;
}
}

 .subscribe {
        &__form {
        display: -ms-flexbox;
         display: flex;
         justify-content: space-between;
         input {
             padding: 2rem;
             width: 55rem;
             border: 1px solid #606060;
             outline: transparent;
             &:hover,
             &:focus,
             &:active {
                 border: 1px solid #96b92c;
             }
         }
        }
        &__button {
            @include btn-big;
            background: #96b92c;
            padding: 1.6rem 2rem;
            width: 17.5rem;
            margin-left: 3rem;
            &:hover,
            &:focus,
            &:active {
                background: $title-color;
                color: #96b92c;
                font-weight: 300;
                border: $b-size solid #96b92c;
                @include hover;
            }
        }
        &__content {
            text-align: left;
            padding: 14rem 1.5rem 16rem;
            width: 65%;
    &__title {
        @include font(4rem, $text-color, 700, $text-ff, 1.3);
        margin: 0;
    }
    &__subtitle {
        @include p-dark;
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
        width: 80%;
    }
}
 }


 [placeholder] {
    @include font(1.5rem, $text-color, 300, $text-ff, 1.3);
}


// Blog


.section__blog .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -ms-flex-item-align: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.section {
       &__blog { 
        background-color: #b07cf7;
        height: max-content;
         &__title {
           @include title-light;
           margin: 0;
           margin: 10rem 5rem 3rem;
        }
        &__subtitle {
          @include p-light ;
          margin: 0 auto;
         }
         &__btn {
            @include btn-big;
             background: #f72b3b;
             margin-bottom: 12rem;
             &:hover,
             &:focus,
             &:active {
                 background: $title-color;
                 color: #f72b3b;
                 border: $b-size solid #f72b3b;
                 @include hover;
                 cursor: pointer;
             }
         }
     }
}

.flex {
    display: -ms-flexbox;
    display: flex;
    margin: 5rem 0;
    -ms-flex-item-align: center;
    align-items: center;
    max-width: 1200px;
    &__item {
        margin: 1.25%;
        width: 30.83%;
    }
 }
 
 .post {
     background-color: $title-color;
     transition: all .2s linear;
     box-shadow: 0 0 8px 2px rgba(41, 40, 40, 0.5);    
     height: 30rem;
     &__link {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        position: relative;
        overflow: hidden;
        &:hover,
        &:focus,
        &:active {
            box-shadow: 2px 2px 20px 5px rgba(65, 60, 60, 0.5);
         }
        &:hover::before,
        &:focus::before,
        &:active::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 15%, rgba(0,0,0,.1) 85%);
        }      
    }
    &__pic {
        @include pCenter;
        min-width: 100%;
        min-height: 100%;
        height: auto;
    }
    &__data {
        display: inline-block;
        text-align: center;
        width: 6.5rem;
        height: 6.5rem;
        background: rgba(0, 0, 0, .5);
        z-index: 2;
        text-transform: uppercase;
        @include font(2.5rem, $title-color, 700, $text-ff, 1.2);
        margin: 3rem;
        border-radius: .7rem;
    }
    &__text {
        z-index: 2;
        text-align: left;
        margin: 2rem 1.5rem;
        &--title {
            @include font(2rem, $title-color, 700, $text-ff, 1.2);
            display: inline-block;
        }
        &--subtitle {
            @include font(1.3rem, $title-color, 700, $text-ff, 1.2);
            display: inline-block;
            margin-top: 2.5rem;
        }
    }
}

.post__link:hover .post__pic {
    transform: scale(1.05) translate(-50%,-50%);
    @include tr;
 }

.post__link:hover .post__text, .post__data {
    z-index: 4;
}


// Contact

.section {
    &__contact {
        background: lightpink;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .container {
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-item-align: center;
            align-items: center;
            text-align: center;
             padding: 0 1.5rem;
        }
    }
}

.contact {
    &__title {
        @include title-dark;
        margin: 0;
        padding-top: 10rem;
        padding-bottom: 4rem;
    }
    &__subtitle {
        @include p-dark;
        padding: 0 1.5rem;
    }
    &__wrap {
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        justify-content: space-between;
        -ms-flex-item-align: start;
        align-items: flex-start;
        margin: 5rem 1.5rem 12rem;
        &__form {
           width: 42%;
    }
    &__adress {
        width: 42%;
        text-align: left;
        &--sm {
            @include p-dark;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 0;
        }
        &--lg {
            @include p-dark;
            font-size: 2rem;
            margin-top: 0;
            margin-bottom: 2.6rem;
        }
    }
}
}


.myform {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: left;
    &__input {
        padding: 2rem;
        outline: transparent;
        margin-bottom: 1.5rem;
        width: 100%;
        color: white;
        outline: none;
        background: rgba(0, 196, 196, .6);
        border: $b-size solid transparent;
        &:hover,
        &:active,
        &:focus {
           background: #00c4c4;
           opacity: 1;
           border-left: .5rem solid #355b82;
           color: white;
        }
    }
    input[name="name"] {
        text-transform: capitalize;
    }
     &__btn {
        @include font(2rem, #fff, 300, $text-ff, 1.3);
        width: 100%;
        background: rgba(51, 102, 153, .6);
        border: $b-size solid transparent;
        text-transform: uppercase;
        padding: 1.5rem;
        outline: none;
        &:hover,
        &:focus,
        &:active {
            border: $b-size solid rgba(51, 102, 153, 1);
            background: rgba(51, 102, 153, 1);
            transform: scale(1.02);
        }
     }
    }
    
    
    input[placeholder]::placeholder,
    textarea[placeholder]::placeholder {
        color: white;
        opacity: .8;
    }
    
    textarea {
        resize: none;
        padding: 2rem;
        background: rgba(0, 196, 196, .6);
        border: $b-size solid transparent;
        margin-bottom: 1.5rem;
        color: white;
        outline: none;
        &:hover,
        &:active,
        &:focus {
              background: #00c4c4;
              opacity: 1;
              border-left: .5rem solid #355b82;
              color: white;
            }
 }
 
//  Footer

.footer {
     background: #262626;
     color: white;
    .container {
         display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        -ms-flex-item-align: center;
        align-items: center;
        padding: 5rem 0;
   }
}

.text {
    display: inline-block;
    margin-bottom: 1rem;
    &--smoll {
        @include font(1.5rem, $title-color, 300, $text-ff, 1.5);
    }
    &--pacifico {
        @include font(2.5rem, $title-color, 400, $text-logo, 1.5);
    }
    &--light {
        @include font(1.5rem, $title-color, 300, $text-ff, 1.5);
    }
    &--red {
        @include font(1.5rem, $red-color, 700, $text-ff, 1.5);
        margin: 0 5px;
    }

}


@media screen and (max-width: 1024px) {
   
    .container {
        max-width: 960px;
        padding: 0 2.5rem;
     }

    .container p {
        font-size: 2.5rem;
    }

    .container h1 {
        font-size: 9rem;
    }

    .container a {
        font-size: 2rem;
    }
      
    .start-screen{
        &__content {
        width: 100%;
        
        }
        &__title {
            font-size: 9rem;
        }
        &__subtitle {
            margin: 10rem 0 10rem;
        }
    }

    .nav {
         &__menu {
            margin: auto 0;
            &__item {
                margin-left: 2rem;
            }
        }
    }

    .section__services__title {
        color: $text-color;
    }

    .section__services .container {
        -ms-flex-direction: column;
        flex-direction: column;
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .section__services__title {
        order: 1;
        margin: 0;
        margin-top: 10rem;
    }
    
    .list {
        order: 2;
        padding: 5rem 1.5rem 15rem;
        width: 65%;
        &__item {
            width: 100%;
        }
        &__link {
            padding: 4.1rem;
            margin-bottom: 3rem;
        }
        span {
            font-size: 2.8rem;
            padding: 0 3rem 0 0;
            
        }
    }
    .list > .list__item:nth-child(3) a {
            padding: 3.3rem;
        }

   
    .section__subscribe {
          background-size: 120%;
          background-position: top 10% right 10%;
          background-repeat: no-repeat;
    }

    .subscribe {
        &__content {
            width: 90%;
            padding: 16rem 1.5rem 12rem;
            &__subtitle {
                width: 55%;
                margin: 5rem 0;
            }
        }
        &__button {
            width: 18rem;
        }
    }

    .post {
        height: 100%;
        &__data {
            height: 5rem;
            width: 5rem;
            font-size: 1.8rem;
        }
    }
    .menu-burger {
       display: none;
    }
}

@media screen  and (max-width: 866px) {
    
    .container {
        max-width: 820px;
        padding: 0 5rem;
    }

    .container p {
        font-size: 2rem;
    }

    .container h1 {
        font-size: 6rem;
    }

    .container a {
        font-size: 2rem;
    }

    .start-screen__content {
        width: 80%;
        margin-top: 25rem;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-item-align: start;
        align-items: flex-start;
     }
     
    .start-screen__title {
        font-size: 6rem;
        align-self: flex-start;
    }
    .start-screen__subtitle {
        margin: 5rem 0 10rem;
    }
      
    .menu-burger {
        display: block;
        position: fixed;
        z-index: 7;
        border-style: none;
        outline: none;
        background: linear-gradient(-45deg, #ff6033 , #be4e4e);
        box-shadow: 0 0 0 .7rem rgba(194, 155, 155, 0.9),
                    0 0 1rem #ff6033,
                    0 .2rem .5rem 1.5rem rgba(27, 25, 25, 0.6);
        top: 4rem;
        right: 4rem;
        width: 4.2rem;
        height: 4.2rem;
        cursor: pointer;
        text-align: center;
        line-height: 4.2rem;
        &:hover,
        &:focus,
        &:active {
            background: linear-gradient(-45deg, #f55b31 , #b34747);
            box-shadow: 0 0 0 .7rem rgba(194, 155, 155, 0.9),
                    0 0 1rem #e2542c,
                    0 .2rem .5rem 1.5rem rgba(27, 25, 25, 0.8);
        }
    }
    
    .fas {
       font-size: 2.3rem;
        color: rgba(255, 255, 255, 0.5);
    }
    
    .nav__menu {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        margin: 0;
        padding: 15rem 0;
        list-style: none;
        text-align: center;
        background-color: rgba(0, 0, 0, .8);
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .3);
        transform: translate(0, -100%);
        transition: all .5s ease-in;
        opacity: 0;
        z-index: 10;
        &__link {
            display: block;
            width: max-content;
            padding: 1.2rem 0;
            margin: 0 auto;
            color: $title-color;
            text-transform: uppercase;
            border-bottom: 2px solid transparent;
            font-size: 2.3rem;
            font-family: $text-ff;
            font-weight: 700;
            text-decoration: none;
            transition: all .25s ease-in;
            &:hover,
            &:focus,
            &:active {
              border-bottom: 2px solid #ff6033;
              border-top: 0;
              background:  rgba(0, 0, 0, 0.2);
              border-top: none;
              color: #ff6033;
              @include hover;  
            }
        }
        &__item {
            display: block;
            margin: 0;
        }
    }
    
    .menu-burger:focus {
        opacity: 0;
    }
    
     .menu-burger:focus + .nav__menu,
     .menu-opened .nav__menu {
         opacity: 1;
         transform: translate(0, 0);
         transition: all .5s ease-in-out;
     }
    
     .menu-burger:focus + .nav__menu::after {
         content: "×";
         color: white;
         font-size: 7rem;
         position: absolute;
         top: 0;
         right: 4rem;
     } 
    
    .menu-burger {
         display: block;
     }
     
    .wrap {
        display: -ms-flexbox;
        display: flex;
        // -ms-flex-direction: column;
        // flex-direction: column;
        // -ms-flex-item-align: center;
        // align-items: center;
         padding: 5rem 1.5rem 0;
         align-items: center;
         justify-content: space-between;
        &__img {
            flex: 1 1 40%;
        }
        &__content {
            margin-left: 10%;
            text-align: start;
            flex: 2 1 50%;
            &__subtitle {
                
                &--margin {
                    margin-bottom: 5rem;
                }
            }
        }
    }
    
    .list {
        order: 2;
        width: 100%;
        padding: 10rem 1.5rem;
        &__item {
           width: 80%;
          margin: 2rem auto;
        }
    }
    @supports (display: grid) {
        .images {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(8, 1fr);
            gap: 2.5%;
            margin: 4.5rem 1.5rem;
        // height: 97rem;
            &__item {
                grid-row: span 2;
               &--2w {
                    grid-column: span 5;
               }
               &--4h {
                    grid-row: span 4;
               }
               &--1w {
                    grid-column: span 3;
                }
                &--2h {
                    grid-row: span 2;
                }
                &--3w {
                    grid-column: span 4;
                }
                &--3h {
                     grid-row: span 3;
                }
            }
        }
    }
    .image {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &__pic {
         @include pCenter;
         min-width: 100%;
         min-height: 100%;
    }
    }
    .section__subscribe {
          background-size: contain;
          background-position: center right;
          background-repeat: no-repeat;
    }
     .subscribe {
         &__content {
             width: 80%;
             padding: 10rem 1.5rem;
            }
         &__form {
            input {
                padding: 1rem;
            }
        }
        &__button {
            padding: 1rem 2rem;
            font-size: 2rem;
        }

     }
     .flex {
         max-width: 100%;
         -ms-flex-direction: column;
         flex-direction: column;
         &__item {
             width: 60%;
             height: 30rem;
             margin: 2rem;
             overflow: hidden;
         }
      }
    .post {
        &__link {
            min-width: 100%;
            transform: scale(1.05);
            overflow: hidden;
        }
        &__pic {
            width: 100%;
            min-height: 100%;
            overflow: hidden;
        }
        &__text {
          margin: 0;
          padding: 2rem;
      }
    }
    .contact__wrap {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-item-align: center;
        align-items: center;
        margin: 2rem 1.5rem 8rem;
        &__form {
            width: 70%;
            margin: 5rem 0 10rem;
        }
        &__adress {
            width: 70%;
            text-align: center;
         }
    }.footer .container {
        -ms-flex-direction: column;
        flex-direction: column-reverse;
        margin: 0 1.5rem;
    }
    .text--pacifico {
        order: 1;
        -ms-flex-order: 1;
    }
                 
}

@media screen and (max-width:766px) {
    .container {
        max-width: 720px;
        padding: 0 2.5rem;
    }

    .container p {
        font-size: 2rem;
        line-height: 1.5;
    }

    .container h1 {
        font-size: 5rem;
    }

    .start-screen__content {
        width: 65%;
        margin-top: 25rem;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-item-align: start;
        align-items: flex-start;
     }
     
    .start-screen__title {
        font-size: 5rem;
        align-self: flex-start;
    }
    .start-screen__subtitle {
        margin: 5rem 0 10rem;
    }
   
    .menu-burger {
        display: block;
        position: fixed;
        z-index: 7;
        border-style: none;
        outline: none;
        background: linear-gradient(-45deg, #ff6033 , #be4e4e);
        box-shadow: 0 0 0 .5rem rgba(194, 155, 155, 0.9),
                    0 0 1rem #ff6033,
                    0 .2rem .5rem 1.2rem rgba(27, 25, 25, 0.6);
        top: 5rem;
        right: 6rem;
        width: 2.2rem;
        height: 2.2rem;
        cursor: pointer;
        text-align: center;
        line-height: 2.2rem;
        &:hover,
        &:focus,
        &:active {
            background: linear-gradient(-45deg, #f55b31 , #b34747);
            box-shadow: 0 0 0 .5rem rgba(194, 155, 155, 0.9),
                    0 0 1rem #e2542c,
                    0 .2rem .5rem 1.2rem rgba(27, 25, 25, 0.8);
        }
    }
    
    .fas {
       font-size: 1.5rem;
       color: rgba(255, 255, 255, 1);
       
    }
    
    .nav__menu {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        margin: 0;
        padding: 10rem 0;
        list-style: none;
        text-align: center;
        background-color: rgba(0, 0, 0, .8);
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .3);
        transform: translate(0, -100%);
        transition: all .5s ease-in;
        opacity: 0;
        z-index: 10;
        &__link {
            display: block;
            width: max-content;
            padding: 1rem 0;
            margin: 0 auto;
            color: $title-color;
            text-transform: uppercase;
            border-bottom: 2px solid transparent;
            font-size: 2.3rem;
            font-family: $text-ff;
            font-weight: 700;
            text-decoration: none;
            transition: all .25s ease-in;
            &:hover,
            &:focus,
            &:active {
              border-bottom: 2px solid #ff6033;
              border-top: 0;
              background:  rgba(0, 0, 0, 0.2);
              border-top: none;
              color: #ff6033;
              @include hover;  
            }
        }
        &__item {
            display: block;
            margin: 0;
        }
    }
    
    .menu-burger:focus {
        opacity: 0;
    }
    
     .menu-burger:focus + .nav__menu,
     .menu-opened .nav__menu {
         opacity: 1;
         transform: translate(0, 0);
         transition: all .5s ease-in-out;
     }
    
     .menu-burger:focus + .nav__menu::after {
         content: "×";
         color: white;
         font-size: 5rem;
         position: absolute;
         top: 1rem;
         right: 4rem;
     } 
    
    .menu-burger {
         display: block;
     }

     .scroll {
         display: none;
     }
     
    .wrap {
        display: -ms-flexbox;
        display: flex;
        padding: 0 1.5rem;
        align-items: center;
        width: 100%;
        &__img {
            flex: 0 0 0%;
        }
        &__content {
           margin: 0;
            text-align: start;
            flex: 1 1 100%;
            &__title {
                text-align: center;
                margin-bottom: 4rem;
            }
            &__subtitle {
                margin-bottom: 3.5rem;
            }
        }
    }
    
    .list {
        order: 2;
        width: 100%;
        padding: 5rem 1.5rem;
        &__item {
           width: 80%;
           margin: 2rem auto;
        }
        &__link {
            padding: 1.5rem 1.7rem 1.5rem 0;
            span {
                font-size: 2rem;
            }
        }
    }

    .list > .list__item:nth-child(3) a {
        padding: 1.5rem 1.7rem 1.5rem 0;
    }
    
     @supports (display: grid) {
        .images {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(12, 1fr);
            gap: 2.5%;
            margin: 4.5rem 1.5rem;
        // height: 97rem;
            &__item {
                grid-row: span 2;
               &--2w {
                    grid-column: span 2;
               }
               &--4h {
                    grid-row: span 6;
               }
               &--1w {
                    grid-column: span 1;
                }
                &--2h {
                    grid-row: span 3;
                }
                &--3w {
                    grid-column: span 1;
                }
                &--3h {
                     grid-row: span 3;
                }
            }
        }
    }

    .image {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 100%;
    overflow: hidden;
    &__pic {
         @include pCenter;
         min-width: 100%;
         min-height: 100%;
    }
    }
    .section__subscribe {
          background-size: contain;
          background-position: center right;
          background-repeat: no-repeat;
    }
     .subscribe {
         &__content {
             width: 100%;
             padding: 8rem 1.5rem;
             &__subtitle {
                 width: 65%;
             }
            }
         &__form {
            input {
                padding: 1rem;
            }
        }
        &__button {
            padding: 1rem 2rem;
            font-size: 2rem;
            width: 30%;
        }

     }
     .section__blog__subtitle, .section__blog__title {
         padding: 0 1.5rem;
     } 

     .flex {
         display: -ms-flexbox;
         display: flex;
         max-width: 100%;
         -ms-flex-direction: column;
         flex-direction: column;
         padding: 0 1.5rem;
         &__item {
             width: 60%;
             height: 30rem;
             margin: 2rem;
             overflow: hidden;
         }
    }
     .contact__wrap {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-item-align: center;
        align-items: center;
        margin: 2rem 1.5rem 8rem;
        &__form {
            width: 70%;
            margin: 5rem 0 10rem;
        }
        &__adress {
            width: 70%;
            text-align: center;
         }
    }.footer .container {
        -ms-flex-direction: column;
        flex-direction: column-reverse;
        margin: 0 1.5rem;
    }
    .text--pacifico {
        order: 1;
        -ms-flex-order: 1;
    }
                 
}

@media screen and (max-width:576px) {
    .container {
        max-width: 520px;
        padding: 0 2.5rem;
    }

    .container p {
        font-size: 1.6rem;
        line-height: 1.5;
    }

    .container h1 {
        font-size: 4rem;
    }

    .start-screen__content {
        width: 65%;
        margin-top: 25rem;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-item-align: start;
        align-items: flex-start;
    }
     
    .start-screen__title {
        font-size: 4rem;
        align-self: flex-start;
    }
    .start-screen__subtitle {
        margin: 5rem 0 10rem;
    }

    .start-screen__btn {
        padding: 1.2rem;
        width: 20rem;
        max-width: 20rem;
    }
   
    .menu-burger {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: center;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 7;
        border-style: none;
        outline: none;
        background: linear-gradient(-45deg, #ff6033 , #be4e4e);
        box-shadow: 0 0 0 .3rem rgba(194, 155, 155, 0.9),
                    0 0 .7rem #ff6033,
                    0 .1rem .3rem .9rem rgba(27, 25, 25, 0.6);
        top: 4rem;
        right: 4rem;
        width: 2.2rem;
        height: 2.2rem;
        cursor: pointer;
        text-align: center;
        line-height: 2.2rem;
        &:hover,
        &:focus,
        &:active {
            background: linear-gradient(-45deg, #f55b31 , #b34747);
            box-shadow: 0 0 0 .3rem rgba(194, 155, 155, 0.9),
                    0 0 .7rem #e2542c,
                    0 .1rem .3rem .9rem rgba(27, 25, 25, 0.8);
        }
    }
       
    .fas {
       font-size: 1.3rem;
       color: rgba(255, 255, 255, 1);
       line-height: 2.2rem;
    }
    
       
    .scroll {
         display: none;
     }
     
    .wrap {
        display: -ms-flexbox;
        display: flex;
        padding: 0 1.5rem;
        align-items: center;
        width: 100%;
        &__img {
            flex: 0 0 0%;
        }
        &__content {
           margin: 0;
            text-align: start;
            flex: 1 1 100%;
            &__title {
                text-align: center;
                margin: 4rem 0;
            }
            &__subtitle {
                margin-bottom: 3.5rem;
            }
        }
    }
    
    .list {
        order: 2;
        width: 100%;
        padding: 5rem 1.5rem;
        &__item {
           width: 80%;
           margin: 2rem auto;
        }
        &__link {
            padding: 1.5rem 1.7rem 1.5rem 0;
            span {
                font-size: 1.6rem;
            }
        }
    }

    .list > .list__item:nth-child(3) a {
        padding: 1.5rem 1.7rem 1.5rem 0;
    }

    .gallery {
        &__title {
        padding: 7rem 3rem;
        }
        &__btn {
            padding: 1.2rem;
            width: 20rem;
            max-width: 20rem;
            margin: 0 0 7rem;
         }
}

    @supports (display: grid) {
        .images {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(8, 1fr);
            gap: 2.5%;
            margin: 4.5rem 1.5rem;
        // height: 97rem;
            &__item {
                grid-row: span 1;
               &--2w {
                    grid-column: span 2;
               }
               &--4h {
                    grid-row: span 4;
               }
               &--1w {
                    grid-column: span 1;
                }
                &--2h {
                    grid-row: span 2;
                }
                &--3w {
                    grid-column: span 1;
                }
                &--3h {
                     grid-row: span 2;
                }
            }
        }
    }
    .image {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 100%;
    overflow: hidden;
       &__pic {
         @include pCenter;
         min-width: 100%;
         min-height: 100%;
       }
    }
    .section__subscribe {
          background-size: contain;
          background-position: center right;
          background-repeat: no-repeat;
    }
     .subscribe {
         &__content {
             width: 100%;
             padding: 7rem 1.5rem;
             &__title {
                 font-size: 3rem;
             }
             &__subtitle {
                 width: 65%;
             }
            }
         &__form {
            input {
                padding: 1rem;
                width: 60%;
            }
        }
        &__button {
            padding: 1rem 2rem;
            margin-left: 1rem;
            font-size: 2rem;
            width: 15rem;
        }

     }
     .section__blog__subtitle, .section__blog__title {
         padding: 0 1.5rem;
     } 
    
    .footer .container {
        -ms-flex-direction: column;
        flex-direction: column-reverse;
        margin: 0 1.5rem;
        padding: 3rem 0;
    }
    .text {
        padding-bottom: 1rem;
        &--pacifico {
        order: 1;
        -ms-flex-order: 1;
    }
}
                 
}

@media screen and (max-width:420px) {
    .container {
        max-width: 380px;
        padding: 0 2.5rem;
    }

    .container p {
        font-size: 1.6rem;
        line-height: 1.3;
        line-break: normal;
        hyphens: auto;
    }

    .container h1 {
        font-size: 3.5rem;
    }

    
    .start-screen__content {
        width: 70%;
        margin-top: 20rem;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-item-align: start;
        align-items: flex-start;
    }
     
    .start-screen__title {
        font-size: 3.5rem;
        align-self: flex-start;
    }
        
    .nav__logo {
        font-size: 3rem;
    }

    .menu-burger {
        top: 3.5rem;
        right: 4rem;
    }
         
    .section__services .container {
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .list {
        order: 2;
        width: 100%;
        padding: 2rem 1.5rem;
        &__item {
           width: 100%;
           margin: 1.5rem auto;
        }
        &__link {
            padding: 1.5rem 1.7rem 1.5rem 0;
            span {
                font-size: 1.4rem;
            }
        }
    }

    .section__services__title {
       margin-top: 5rem;
       color: white;
    }
    
      
    @supports (display: grid) {
        .images {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(10, 1fr);
            gap: 2.5%;
            margin: 4.5rem 1.5rem;
            &__item {
                grid-row: span 1;
               &--2w {
                    grid-column: span 2;
               }
               &--4h {
                    grid-row: span 2;
               }
               &--1w {
                    grid-column: span 2;
                }
                &--2h {
                    grid-row: span 2;
                }
                &--3w {
                    grid-column: span 2;
                }
                &--3h {
                     grid-row: span 2;
                }
            }
        }
    }
   .images {
       width: 90%;
       margin: 4.5rem auto;
   }
 
     .subscribe {
         &__content {
             width: 100%;
             padding: 7rem 1.5rem;
             &__title {
                 font-size: 2.7rem;
             }
             &__subtitle {
                 width: 65%;
             }
            }
         &__form {
             display: flex;
             flex-direction: column;
            align-items: center;
            input {
                padding: 1rem;
                width: 100%;
                margin-bottom: 3rem;
            }
        }
        &__button {
            display: block;
            padding: 1rem 2rem;
            font-size: 2rem;
            width: 15rem;
        }

     }
     .section__blog__subtitle, .section__blog__title {
         padding: 0 1.5rem;
     } 

     .list__link:hover svg,
     .list__link:focus svg,
     .list__link:active svg {
        fill: white;
        transform: scale(1);
     }
     
     .list > .list__item:nth-child(3) a {
         padding: 1.5rem 1rem;
     }

     .list__link {
         padding: 1.5rem 1rem;
     }

     .list__link svg {
        transform: scale(.8);
     }

     .flex__item {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .contact__wrap__adress p {
        text-align: center;
    }
  

   .text {
    display: inline-block;
    &--smoll {
        @include font(1.4rem, $title-color, 300, $text-ff, 1.5);
     }
    &--pacifico {
        @include font(1.8rem, $title-color, 400, $text-logo, 1.5);
    }
    &--light {
        @include font(1.4rem, $title-color, 300, $text-ff, 1.5);
    }
    &--red {
        @include font(1.3rem, $red-color, 700, $text-ff, 1.5);
        margin: 0 5px;
    }

}
}
























